<div class="ui padded container segment">
  <h1 class="ui center aligned header">About</h1>

  <h2 class="ui center aligned header">This App Started As A <a href="http://seedsjs.com">Seed</a>!</h2>

  <img class="wireframe" src="http://semantic-ui.com/examples/assets/images/wireframe/media-paragraph.png">

  <div class="ui two column grid">
    <div class="column">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere commodi, inventore mollitia ab nihil ex omnis possimus veniam. Dolorum fugit repellendus consequatur ea nemo quia delectus officiis ducimus, obcaecati veniam?
    </div>

    <div class="column">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere commodi, inventore mollitia ab nihil ex omnis possimus veniam. Dolorum fugit repellendus consequatur ea nemo quia delectus officiis ducimus, obcaecati veniam?
    </div>
  </div>
</div>